<td-layout>
  <td-navigation-drawer *ngIf="userInfo" flex sidenavTitle="Tài khoản" logo="menu" name="{{userInfo.lname}} {{userInfo.fname}}" 
    email="{{userInfo.email}}">
    <mat-nav-list>
      <a mat-list-item>
        <mat-icon>home</mat-icon>Trang chủ
      </a>
      <a mat-list-item>
        <mat-icon>account_box</mat-icon>Thông tin tài khoản
      </a>
      <a mat-list-item *ngIf="isAdmin">
          <mat-icon>how_to_reg</mat-icon>Duyệt tài khoản
        </a>
      <a mat-list-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>Đăng xuất
      </a>

    </mat-nav-list>
    <div td-navigation-drawer-menu>
      <mat-nav-list>
       
      </mat-nav-list>
    </div>
  </td-navigation-drawer>
  <td-layout-nav-list #navList [opened]="media.registerQuery('gt-sm') | async"
    [mode]="(media.registerQuery('gt-sm') | async) ? 'side' : 'over'"
    [sidenavWidth]="(media.registerQuery('gt-xs') | async) ? '250px' : '100%'">
    <div td-sidenav-toolbar-content layout="row" layout-align="start center">
      <button mat-icon-button tdLayoutToggle>
        <mat-icon>menu</mat-icon>
      </button>
      <mat-icon [routerLink]="['/']" class="mat-icon-logo cursor-pointer" svgIcon="assets:teradata"></mat-icon>
      <span [routerLink]="['/']" class="cursor-pointer">Quản lí công việc</span>
    </div>
    <div td-toolbar-content layout="row" layout-align="start center" flex>
       <button mat-icon-button tdLayoutNavListOpen [hideWhenOpened]="true">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <span flex></span>
      <a routerLink="/invoices" md-button class="mat-button">Cá nhân</a>
      <a routerLink="/customers" md-button class="mat-button">Nhóm</a>
    </div>
    <mat-nav-list td-sidenav-content [tdLayoutNavListClose]="!media.query('gt-sm')">
      <a mat-list-item>
        <mat-icon matListAvatar>work</mat-icon>
        <h3 matLine>Đồ án 3</h3>
        <p matLine>Spring, Angular</p>
      </a>
      <mat-divider [inset]="true"></mat-divider>
      <a mat-list-item>
        <mat-icon matListAvatar>work</mat-icon>
        <h3 matLine> BTL IT4409 </h3>
        <p matLine>Angular + ExpressJs</p>
      </a>
      <mat-divider [inset]="true"></mat-divider>
    </mat-nav-list>
  </td-layout-nav-list>

  <td-layout-footer>
    <div layout="row" layout-align="start center">
      <span class="mat-caption">Copyright &copy; 2019 NAHUEN. All rights reserved</span>
    </div>
  </td-layout-footer>
</td-layout>